<% if alert %>
  <p class="flash-alert">
    <i class="fa fa-times"></i>
    <%= alert %>
  </p>
<% end %>

<% if notice %>
  <p class="flash-notice">
    <i class="fa fa-times"></i>
    <%= notice %>
  </p>
<% end %>
