@import "blocky/imports";

body.blocky.content_blocks.index {
  td {
    border: 1px solid $base-border-color;
    padding: 0.5em 1.5em;
  }

  th {
    background-color: $base-accent-color;
    border: 1px solid darken($base-accent-color, 10%);
    color: #fff;
    font-size: 1.1em;
    padding: 0.3em 1.1em;
    -webkit-font-smoothing: antialiased;
  }

  tr:hover {
    background-color: darken($base-body-color, 3%);
  }

  td.page {
    font-weight: bold;

    a {
      color: $base-font-color;
      display: block;
      text-decoration: none;

      &:hover {
        color: $base-accent-color;
      }
    }
  }

  tr.per-page.page-start td {
    border-top: 10px solid lighten($base-accent-color, 30%);
  }

  td code {
    margin-left: -4px;
    margin-right: -2px;
  }

  td .button {
    padding: 4px 15px 5px;
  }
}

body.blocky.content_blocks.index .help {
  margin-top: 2em;

  code {
    color: $base-font-color;

    .keyword {
      font-weight: bold;
    }
    .method {
      color: adjust-hue($base-accent-color, 70deg);
    }
    .symbol {
      color: $base-accent-color;
    }
    .tag {
      color: #888;
    }
  }

  code.code-block {
    display: block;
    padding: 1em;
    margin-bottom: 2em;
  }
}
