@import "blocky/bourbon";
@import "blocky/variables";

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

p {
  line-height: $base-line-height;
  margin: 0 0 ($base-line-height * .5);
}

a {
  color: $base-link-color;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

pre {
  font-family: "Menlo", "Monaco", monospace;
  margin: 0;
  padding: 0;
}

code {
  background-color: darken($base-body-color, 3%);
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  font-family: "Menlo", "Monaco", monospace;
  font-size: 0.95em;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0 4px;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
