@import "blocky/imports";

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0 0 0.5em;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
  margin-bottom: 1em;
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
  margin-bottom: 0.7em;
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
  margin-bottom: 0.5em;
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
  margin-bottom: 0.25em;
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
  margin-bottom: 0.25em;
}

h6 {
  font-size: $base-font-size;
  margin-bottom: 0.25em;
}
