@import "blocky/bourbon";
@import "blocky/variables";

.button,
button,
input[type="submit"] {
  @include appearance(none);
  background-color: $base-accent-color;
  border: 1px solid $base-accent-color;
  border-radius: $base-border-radius;
  box-shadow: 0 0 5px 0 $base-body-color;
  color: $base-body-color;
  cursor: pointer;
  display: block;
  font-size: $base-font-size;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  @include transition(all 0.1s ease);

  &:hover {
    background-color: lighten($base-accent-color, 8%);
    border-color: lighten($base-accent-color, 8%);
  }

  &:active {
    background-color: $base-accent-color;
    border-color: $base-accent-color;
  }
}
